body {
  background-color: pink;
}
#logo {
  height: 120px;
  width: 120px;
}
nav {
  background-color: brown;
  color: chartreuse;
}
article {
  background-color: olivedrab;
  color: black;
}
#prague {
  height: 200px;
  width: 300px;
}
#rome {
  height: 200px;
  width: 300px;
}
#madrid {
  height: 200px;
  width: 300px;
}
#pc-video {
  height: 360px;
  width: 240px;
  background-color: purple;
}
#mobile-video {
  display: none;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  background-color: #4287f5;
  color: white;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
