body
{
    background-color: pink;
}
nav
{
    background-color: brown;
    color: chartreuse;
}
article
{
    background-color: olivedrab;
    color: black;
}
#pc-video
{
    height: 360px;
    width: 240px;
    background-color: purple;
}
#mobile-video
{
    display: none;
}