@media screen and (min-width: 1280px) {
  a {
    color: #000;
  }
  .nav {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 3;
  }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  .nav li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  .nav li a:hover,
  .nav .menu-btn:hover {
    background-color: #f4f4f4;
  }
  .nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  .nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  .nav .menu-btn {
    display: none;
  }
  .nav .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav .menu-icon {
    display: none;
  }
  flexParent {
    background-color: #4287f5;
    display: flex;
    flex-wrap: wrap;
  }
  #article1 {
    background-color: #8ad429;
    width: 800px;
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 0;
    order: 2;
    display: flex;
    justify-content: flex-start;
  }
  #best5Destination {
    background-color: #1f252b;
    width: 500px;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    order: 3;
    display: flex;
    justify-content: flex-end;
  }
  #article2 {
    background-color: #cec5ab;
    width: 800px;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 4;
    display: flex;
    justify-content: flex-start;
  }
  #article3 {
    background-color: #567209;
    width: 800px;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 5;
    display: flex;
    justify-content: flex-start;
  }
  #best5Destination {
    background-color: #acbdca;
    width: 800px;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    order: 3;
    display: flex;
    justify-content: flex-end;
  }
  #logo {
    height: 120px;
    width: 120px;
  }
  #mobile-video {
    display: none;
  }
  #pc-video {
    height: 360px;
    width: 240px;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    order: 1;
  }

  #prague,
  #rome,
  #madrid {
    height: 240px;
    width: 120px;
    float: right;
  }
  #Cookie {
    background-color: #000;
    color: yellow;

    display: flex;
    justify-content: flex-end;
  }
  .spain,
  .aruba,
  .curaçao {
    width: 360px;
    min-height: 480px;
  }
  #article4 {
    width: 400px;
    height: 400px;
    grid-area: article4Tag;
  }
  #article5 {
    grid-area: article5Tag;
    width: 400px;
    height: 400px;
  }
  #article6 {
    width: 400px;
    height: 400px;
    grid-area: article6Tag;
  }
  #article7 {
    width: 400px;
    height: 400px;
    grid-area: article7Tag;
  }
  #article8 {
    width: 400px;
    height: 400px;
    grid-area: article8Tag;
  }
  #article9 {
    width: 400px;
    height: 400px;
    grid-area: article9Tag;
  }
  h1 {
    grid-area: h1TagTag;
  }
  h2 {
    grid-area: h2Tag;
  }
  .nav {
    grid-area: navTag;
  }
  #aisde1 {
    grid-area: aisde1Tag;
  }
  #aisde2 {
    grid-area: aisde2Tag;
  }
  #aisde3 {
    grid-area: aisde3Tag;
  }
  #spain {
    grid-area: spainTag;
  }
  #aruba {
    grid-area: arubaTag;
  }
  #curaçao {
    grid-area: curaçaoTag;
  }
  #grid-container {
    background-color: #7e6039;
    border: solid 10px #2c2a28;
    padding: 10px;

    display: grid;
    grid-gap: 100px;

    grid-template-areas:
      "h1Tag        .           .           .             .             .             "
      "h2Tag        .           .           .             .             .             "
      "navTag       .           .           .             .             .             "
      "article5Tag  article5Tag article5Tag article4Tag   article4Tag   article6Tag   "
      "article5Tag  article5Tag article5Tag article4Tag   article4Tag   article6Tag   "
      "article8Tag  article8Tag article8Tag article4Tag   article4Tag   article6Tag   "
      "article8Tag  article8Tag article8Tag article4Tag   article4Tag   article7Tag   "
      "article8Tag  article8Tag article8Tag article4Tag   article4Tag   article7Tag   "
      "article8Tag  article8Tag article8Tag article4Tag   article4Tag   article7Tag   "
      "article8Tag  article8Tag article8Tag article9Tag   article9Tag   article9Tag   "
      "aisde1Tag    aisde1Tag   aisde2Tag   aisde2Tag     aisde3Tag     aisde3Tag     "
      "spainTag     spainTag    arubaTag    arubaTag      curaçaoTag    curaçaoTag    ";
  }
}
@media screen and (min-width: 521px) and (max-width: 1279) {
}
@media screen and (max-width: 520px) {
  a {
    color: #000;
  }
  .nav {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 3;
  }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  .nav li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  .nav li a:hover,
  .nav .menu-btn:hover {
    background-color: #f4f4f4;
  }
  .nav .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  .nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  .nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .nav .menu-icon .navicon:before,
  .nav .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .nav .menu-icon .navicon:before {
    top: 5px;
  }
  .nav .menu-icon .navicon:after {
    top: -5px;
  }
  .nav .menu-btn {
    display: none;
  }
  .nav .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  .nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}
